.DS_Store
node_modules
/dist
src/views/*
!src/views/Login.vue
!src/views/404.vue
apps_lint
# local env files
.env.local
.env.*.local
.env
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Workspace settings for Vetur
jsconfig.json

# Cypress directories and files
cypress.env.json
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/downloads
tests/cypress/apiLogs
tests/cypress/reports
.nyc_output
coverage
junit.xml
.eslintcache
# Generated ignore files for applications
src/views/network/DNS.vue
src/views/system/ProfilesScheduler.vue
src/views/system/SchedulerInstanceEdit.vue
src/views/system/Profiles.vue
src/views/system/GroupEdit.vue
src/views/system/ChangePass.vue
src/views/system/Users.vue
src/views/system/UserEdit.vue
src/views/network/ProtoBgp.vue
src/views/network/RoutesRulesEdit.vue
src/views/network/ProtoOspfInterfaceEdit.vue
src/views/network/ProtoRip.vue
src/views/network/ProtoNhrp.vue
src/views/network/ProtoBgpPeersGroupsEdit.vue
src/views/network/ProtoOspf.vue
src/views/network/ProtoNhrpInterfaceEdit.vue
src/views/network/ProtoEigrp.vue
src/views/network/AdvancedRoutes.vue
src/views/network/ProtoOspfNeighbors.vue
src/views/network/ProtoRip.vue
src/views/network/RoutingTableEdit.vue
src/views/network/ProtoNhrp.vue
src/views/network/StaticRoutes.vue
src/views/network/ProtoBgpPeersEdit.vue
src/views/network/ProtoOspf.vue
src/views/network/ProtoBgpPeersGroupsEdit.vue
src/views/status/ProtoBgp.vue
src/views/status/ProtoEigrp.vue
src/views/status/GeneralRoutes.vue
src/views/status/ProtoRip.vue
src/views/status/ProtoNhrp.vue
src/views/status/ProtoOspf.vue
src/views/network/VlanInterface.vue
src/views/network/VlanInterfaceEdit.vue
src/views/network/VlanPort.vue
src/views/network/MultiWanEdit.vue
src/views/network/MultiWanRuleEdit.vue
src/views/network/MultiWan.vue
src/views/network/MobileOperators.vue
src/views/network/MobileSimSwitch.vue
src/views/network/MobileOperatorsList.vue
src/views/network/MobileOperatorsListEdit.vue
src/views/network/MobileGeneral.vue
src/views/network/Zones.vue
src/views/network/Rules.vue
src/views/network/NATRuleEdit.vue
src/views/network/NATRules.vue
src/views/network/ZoneEdit.vue
src/views/network/Forwards.vue
src/views/network/RuleEdit.vue
src/views/network/AttackPrevention.vue
src/views/network/ForwardEdit.vue
src/views/network/CustomRules.vue
src/views/network/MultiApAddForm.vue
src/views/network/WirelessDeviceEdit.vue
src/views/network/WirelessJoin.vue
src/views/network/MultiApEdit.vue
src/views/network/WirelessScan.vue
src/views/network/WirelessEdit.vue
src/views/network/Wireless.vue
src/views/system/Backup.vue
src/views/system/BackupVerify.vue
src/views/network/GuestNetwork.vue
